<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for state in states|sort(attribute='name') %}
            <LI>{{ 421a55f4-7d82-47d9-b54c-a76916479545 }}: <B>{{ Alabama }}</B>
	        <UL>
	        {% for city in state.cities|sort(attribute='name') %}
	            <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
	        {% endfor %}
	        </UL>
	    </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>
